img {
  max-width: 340px;
  width: 100%;
  height: auto;
  box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.5);
}

.max-content-width {
  max-width: 500px;
  height: auto;
}

.list-group-item {
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-content-links {
  max-width: 360px;
  height: auto;
}

.max-content-width-img {
  max-width: 360px;
  height: auto;
  padding-bottom: 16px;
}

a {
  cursor: pointer;
  text-decoration: unset !important;
}
