a {
    color: #ccc;
    text-decoration: unset !important;
}

a:hover {
    color: #007bff !important;
    background-color: transparent;
}

.bg-header {
    size: 10px !important;
    background-color: #1B1B1B;
    color: hsla(0, 0%, 100%, .7);
    font-weight: 10;
    border-color: #111;
}

.dropdown-menu {
    background-color: #1B1B1B;
}

.navbar-brand, .nav-link {
    color: #edebe8 !important;
}

.navbar-toggler {
    border-color: #007bff !important;
}

nav {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
