<nav class="navbar navbar-expand-sm navbar-light bg-header fixed-top d-flex align-items-baseline container-fluid">
  <a class="navbar-brand" routerLink="/"><i class="fas fa-home me-2"></i>Accueil</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- // Display all menus in desktop view -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <a class="nav-item nav-link" routerLink="catalogue">Catalogue</a>
      <a class="nav-item nav-link" routerLink="agenda">Mon agenda</a>
      <a class="nav-item nav-link" routerLink="a-propos">A propos</a>
    </ul>
  </div>
</nav>