<div class="fade-in container" appGoTop (showGoTopButton)="showGoTopButton = $event">
  <h3>À propos</h3>

  <div class="row">
    <div class="col-lg-6 text-center mb-3">
      <img @items src="../../assets/lisa-weird-face.jpg" class="img-page" />
    </div>

    <div class="col-lg-6">
      <div>
        Hello, j'ai commencé sur un coup de tête à me lancer dans le fansub. 😀 <br>
        (Et aussi sur un projet de création d'un site, celui-là quoi. 😙)
      </div>
      <div class="mt-3">
        Ça va être chaud, mais je vais essayer au moins de sortir un épisode par semaine. 😁
      </div>
      <div class="mt-3">
        Évidemment, je sais que le temps des fansubs est presque révolu... 😅
      </div>
      <div class="mt-3">
        Mais j'aime bien tester des trucs à mes heures perdues. 😋 <br>
        Alors, ne vous étonnez pas si le site semble vide 😆
      </div>

      <div class="mt-3 fw-bold">
        <span class="fst-italic">OK, OKKKK......... Et pourquoi "HeyHasaki"&#8239;?</span> 😒
      </div>
      <div class="mt-3">Bah comme ça et c'est mon pseudo 😮</div>
      <div class="d-flex mt-3">
        <div class="fw-bold"><u>Comptes</u>&#8239;:</div>
        <ul>
          <li>Discord <span class="text-primary">Hasaki Yasuo#4233</span></li>
          <li>
            Anilist
            <a href="https://anilist.co/user/heyHasaki/" target="_blank">heyHasaki</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <button [ngxScrollTo]="'#destination'" *ngIf="showGoTopButton" class="btn btn-outline-light go-top-btn"
    [@fadeAnimation]="'in'">
    <i class="fas fa-arrow-circle-up fa-lg"></i>
  </button>
</div>