@import "~bootstrap/scss/bootstrap";
@import "variables";

html,
body {
  color: #edebe8;
  font-family: Poppins, sans-serif;
  font-size: 14px;
}

.body {
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.fade-enter-from {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

.fade-enter-active {
  transition: all 0.3s ease;
}
