<div class="fade-in" appGoTop (showGoTopButton)="showGoTopButton = $event">
  <h3>Dernière news</h3>
  <div class="text-center">
    <div class="content-img">
      <div class="zoom-in">
        <img src="../../assets/home.jpg" class="img-page" />
      </div>
    </div>

    <div *ngIf="news" class="container">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <tbody>
            <tr>
              <td class="fw-bold">Type</td>
              <td class="fw-bold">Date</td>
              <td class="fw-bold">Titre</td>
            </tr>
            <tr *ngFor="let item of news">
              <td>
                <span *ngIf="item.type === 'site'">{{ item.type }}</span>
                <div @items class="overflow-hidden">
                  <img *ngIf="item.type === 'anime'" [src]="item.coverImg" class="cover-img" />
                </div>
              </td>
              <td>{{ item.lastUpdate * 1000 | date:'dd/MM/yyyy HH:mm':'undefined':'fr' }}</td>
              <td>
                <a *ngIf="item.type === 'anime'" [routerLink]="'anime/' + item.id">{{ item.title }}</a>
                <span *ngIf="item.type === 'anime'"><br> {{ item.description }}</span>
                <span *ngIf="item.type !== 'anime'">{{ item.title }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <button [ngxScrollTo]="'#destination'" *ngIf="showGoTopButton" class="btn btn-outline-light go-top-btn"
    [@fadeAnimation]="'in'">
    <i class="fas fa-arrow-circle-up fa-lg"></i>
  </button>
</div>